@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Manrope:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #5656f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* width: 97vw; */
    position: sticky;
    top: 0;
    z-index: 9;
}

header img {
    width: 270px;
    height: 132px;
    margin-top: 9px;
    margin-right: 0px;
}

header nav a {
    text-decoration: none;
    font-family: 'Fresca', sans-serif;
    color: white;
    padding: 10px;
    font-size: 25px
}

header h1 {
    color: white;
    font-family: 'Fresca', sans-serif;
}

.pesquisa {
    margin-right: 10px;
}

.plano-de-fundo {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(imagens/praia.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.logo{
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
}

.navinicio{
    background-image: url(/parque-aquatico/images/slide1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

.principais{
    
}